
    body {
        background-color: var(--cor-primaria);
        font-size: 2rem;
    }

    .imagens-produtos {
        height: 500px;
        width: 600px;
        margin: 10px;
    }

    .card {
        padding: 5px 10px 10px 10px;
        width: 100%;
        color: var(--cor-extra);
        display: block;
        background-color: var(--cor-secundaria);
        text-align: center;
        border: solid;
        border-color: var(--cor-terciaria);
        border-style: double;
        border-radius: .5%;
    }